@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}
.container{
    width: 98%;
    margin: 10px auto;
    height: 90vh;
    box-shadow: 3px 3px 5px rgb(01, 010, 01 , .1);
    display: flex;
    flex-wrap: wrap;
}
.box{
    /* border: 2px solid red; */
    padding: 15px;
}
#box1{
    width: 40%;
    height: 100%;
    background-image: url(./assets/future.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
}
#box2{
    /* border:2px solid orange; */
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid red; */
    padding: 10px;
    background-color: whitesmoke;
}
.inputcontain{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin:auto;
    align-items: center;
}
.inputbox{
    margin: 2px;
}
h3{
    font-size: 25px;
}

.inputbox input{
    padding: 5px;
    border: none;
    border-radius: 2px;

}

.inputbox p,input{
    margin: 2px;
}
.inputbox p{
    font-size: 14px;
}

button{
    width: 175px;
    padding: 5px;
    /* height: 25px; */
    margin: 2px;
    border-radius: 2px;
    border: none;
}

#btn1{
    background-color: white;
}
#btn2{
    background-color: #b1cbe9;
}
#btn1:hover{
    background-color: #b1cbe9;
    color: black;
    transition: .3 all ease-in;

}

@media only screen and (max-width:370px){
    #box1{
        display: none;
    }
    .container{
        width: 100%;
        height: 100vh;
        box-shadow: 2px 2px 3pxrgb(o1, o1, 01);
    }
    #box2{
        width: 90%;
        height: 100%;
        /* padding: 10px;  */
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        display: flex;
        flex-direction: column;
        background-color: whitesmoke;
    }
    #box2 p{
        color: black;
    }
    #box2 h3{
        color: black;
    }
    
    .inputbox{
        text-align: start;
    }
    input{
        padding:1px;
    }
    .inputcontain{
        margin :2px auto;
    }
    #inputcontain2{
        display: none;
    }
    button{
        border-radius: 2px;
        margin: 2px;
    }
    #btn1:hover{
        background-color: #b1cbe9;
        color: black;
        transition: .3 all ease-in;

    }
}   
@media only screen and (min-width:370px) and (max-width:680px){
   #box1{
        display: none;
    }
    #box2{
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color: whitesmoke;
    }
    #box2 p{
        color:black;
    }
    #box2 h3{
        color:black;
    }
    .inputcontain{
        margin: 2px auto;
    }
    .inputbox{
        margin: 2px;
        text-align: start;
    }
    input{
        padding:2px;
    }
    button{
        border-radius: 2px;
        width: 182px;
    }
    #btn1:hover{
        background-color: #b1cbe9;
        color: black;
        transition: .3s all ease-in;
    }
}